$color_1: #0a1a22;
$color_2: #642800;
$color_3: #381600;
$font-family_1: sans-serif;
$background-color_1: #ffc368;
$background-color_2: #f1f1f1;
$background-color_3: #0a1a22;

.body {
	background-color: $background-color_1;
}
.menubody {
	background-color: $background-color_2;
}
.cafebody {
	background-color: $background-color_2;
}
.navbar {
	background-color: $background-color_3;
}
.image1 {
	max-width: 100%;
	height: auto;
}
.image2 {
	max-width: 100%;
	height: auto;
}
.titulomenu {
	font-family: $font-family_1;
	font-weight: bold;
	font-size: 50px;
	margin-top: 15px;
	margin-left: -15px;
	color: $color_1;
}
.menucards {
	padding: 20px 20px 20px 90px;
}
.how-section1 {
	margin-top: -15%;
	padding: 10%;
	h4 {
		color: $color_2;
		font-weight: bold;
		font-size: 30px;
	}
	.subheading {
		color: $color_3;
		font-size: 20px;
	}
	.row {
		margin-top: 10%;
	}
}
.how-img {
	text-align: center;
	img {
		width: 40%;
	}
}
#derechos {
	margin-top: 15px;
}
@media screen and (max-width: 767px) {
	.menucards {
		padding: 20px 20px 20px 20px;
	}
	.how-img {
		order: -1;
	}
	.mb-3 {
		list-style: none
	}
}